@font-face {
  font-family: "BM-Air";
  src: url("./assets/font/BM-Air.ttf");
}
@font-face {
  font-family: "BM-Pro";
  src: url("./assets/font/BM-Pro.ttf");
}
@font-face {
  font-family: "BM-Jua";
  src: url("./assets/font/BM-Jua.ttf");
}
